# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime.
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCnDozzW2iLevr7oJ_XMriUtQ-VuX9WT54
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0184415198.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0184415198
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0184415198.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=490905726047
VITE_FIREBASE_APP_ID=1:490905726047:web:2d1453f9d6f69cea083fea
VITE_FIREBASE_VAPID_KEY=BJqwYz60W-5UOmBnjdcS56cc0qhz8Rbz2DvY5Vf0CYpn2WItSTfBG05JjtTISpIY74gcKSwDoaJJUUYpCzCImQE

# This should be the JSON content of your service account key (single-line, escaped if necessary)
FIREBASE_SERVICE_ACCOUNT_KEY=
